version: 2
updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: weekly
      day: monday
      time: "05:00"
      timezone: "UTC"
    open-pull-requests-limit: 10
    versioning-strategy: widen
    commit-message:
      prefix: chore
      include: scope
    labels:
      - dependencies
      - automated


